/*

  - Global -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

body {
  font-family: $font-primary;
  font-weight: 400;
  letter-spacing: 0.05rem; 
  line-height: 1.75rem;
  color: $color-quaternary;

  @include media-breakpoint-down(lg) { 
    font-size: .875rem;
 
    .container {
      padding-right: $base-padding * 2;
      padding-left: $base-padding * 2;
      max-width: 100%;
    }
  }
}
