// Grid settings, suffixed with default Bootstrap values.
$grid-breakpoints: (
        xs: 0, // 0
        sm: 576px, // 576
        md: 768px, // 768
        lg: 992px, // 992
        xl: 1260px, // 1200
);

$container-max-widths: (
        sm: 540px, // 540
        md: 720px, // 720
        lg: 960px, // 960
        xl: 1200px, // 1140
);

$grid-gutter-width: 32px;
$grid-gutter-width-large-devices: 16px;

// Colors
$color-primary: #FA585D;
$color-secondary: #F7F7F7;
$color-tertiary: #E5E5E5;
$color-quaternary: #2B2B2B;
$color-quinary: #959595; 
$color-senary: #FF8A8E;
$color-low: #05BB60;
$color-medium: #FBB900;

$font-primary: 'Muli', sans-serif;

// Font sizes
$base-font-size: 1.125rem;
$base-font-size-small: .75rem;
$base-font-size-large: 1.25rem;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Line heights
$line-height: 1.8rem;

// Letter spacings
$letter-spacing: 0.75px;
$uppercase-letter-spacing: 1.25px;

// Section margins
$section-offset-small: 3rem;
$section-offset-large: 5rem;

// Paddings
$base-padding: 1rem;
$base-padding-small: 0.75rem;
$base-padding-large: 1.25rem;