/*

  - Buttons -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.button {
    display: inline-block;
    vertical-align: middle;
    padding: $base-padding-small $base-padding-small * 2;
    font-weight: 700;
    border-radius: 2rem;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;

    &.button-primary {
        position: relative;
        text-decoration: none;
        color: white;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        transition-property: color;
        transition-duration: .2s;
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: $color-senary;
            box-shadow: 0px 0px 0px 2px rgba(255,138,142,1);
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: .2s;
            transition-timing-function: ease-out;
        }

        &:hover:after, &:focus:after, &:active:after { transform: scaleX(1); }

        svg { fill: white; }
    }

    &.button-outline {
        position: relative;
        text-decoration: none;
        color: $color-primary;
        border: 2px solid $color-primary;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: $color-senary;
            box-shadow: 0px 0px 0px 2px rgba(255,138,142,1);
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: .2s;
            transition-timing-function: ease-out;
        }

        &:hover:after, &:focus:after, &:active:after { transform: scaleX(1); }

        &:hover {
            color: white;
            border: 2px solid $color-senary;

            svg path { fill: white !important; }
        }

        svg {
            margin-left: $base-padding / 2;
            width: 7px;
            height: 12px;
        }
    }

    &.button-filter {
        text-decoration: none;
        color: $color-quaternary;
        border: 1px solid $color-tertiary;

        span {     
            display: inline-block;
            vertical-align: bottom;
            font-size: .875rem; 
        }

        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: .625rem;
            width: 1.5rem;
            height: 1.5rem;
            background-image: url('../../img/icons/filter.svg');
            background-repeat: no-repeat;
            transition: .1s transform ease ;
        }

        &[aria-expanded="true"] {
            display: flex;
            color: $color-primary;
            
            span { display: none;}

            &::before { display: none; }

            &::after { 
                content: "Verberg filters"; 
                display: inline-block;
                font-size: .875rem;
                white-space: nowrap;
            }
        }
    }

    svg {
        display: inline-block;
        vertical-align: middle;
        width: 1.25rem;
        height: 1.25rem;
    }
}

html:not([data-scroll='0']) {
    
    .button-primary {
        &:hover { 
            color: white !important; 
            
            svg { fill: white !important; }
        }

        &::before {
            background-color: $color-senary;
        }
    }
} 

// Like Button
.details {

    svg {
        padding: $base-padding / 2;
        width: 4rem;
        height: 4rem;
        background-color: $color-primary;
        border-radius: 50%;
        border: 4px solid white;
        cursor: pointer; 
        overflow: visible; 

        #heart {
            transform-origin: center; 
            animation: animateHeartOut .3s linear forwards;
        } 

        #main-circ { transform-origin: 29.5px 29.5px; }

        path { 
            fill: $color-primary; 
            stroke: white;
            stroke-width: 4;
        }
    }

    label { margin-bottom: 0; }
      
    input { display:none; }
      
    input:checked + label svg {

        path { fill: white !important; stroke: none; }

        #heart {
            transform: scale(.2); 
            fill: $color-primary; 
            animation: animateHeart .3s linear forwards .25s;
        }

        #main-circ {
            transition: all 2s; 
            animation: animateCircle .3s linear forwards;
            opacity: 1;
        }

        #grp1 {
            opacity: 1; 
            transition: .1s all .3s;
            
            #oval1 {
                transform: scale(0) translate(0, -30px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s;
            }

            #oval2 {
                transform:scale(0) translate(10px, -50px);
                transform-origin:0 0 0;
                transition:1.5s transform .3s;
            }
        }

        #grp2 {
            opacity: 1;
            transition: .1s all .3s;

            #oval1 {
                transform: scale(0) translate(30px, -15px); 
                transform-origin: 0 0 0;
                transition: .5s transform .3s;
            }

            #oval2 {
                transform: scale(0) translate(60px, -15px); 
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s;
            }
        }

        #grp3 {
            opacity: 1;
            transition: .1s all .3s;

            #oval1 {
                transform: scale(0) translate(30px, 0px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s;
            }

            #oval2 {
                transform: scale(0) translate(60px, 10px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s;
            }
        }

        #grp4 {
            opacity: 1;
            transition: .1s all .3s;

            #oval1 {
                transform: scale(0) translate(30px, 15px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s;
            }

            #oval2 {
                transform: scale(0) translate(40px, 50px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s;
            }
        }

        #grp5 {
            opacity: 1;
            transition: .1s all .3s;

            #oval1 {
                transform: scale(0) translate(-10px, 20px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s;
            }

            #oval2 {
                transform: scale(0) translate(-60px, 30px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s;
            }
        }

        #grp6 {
            opacity: 1;
            transition: .1s all .3s;

            #oval1 {
                transform: scale(0) translate(-30px, 0px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s;
            }

            #oval2 {
                transform: scale(0) translate(-60px, -5px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s;
            }
        }
         
        #grp7 {
            opacity: 1;
            transition: .1s all .3s;

            #oval1 {
                transform: scale(0) translate(-30px, -15px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s;
            }

            #oval2 {
                transform: scale(0) translate(-55px, -30px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s;
            }
        }

        #grp2 { opacity:1; transition: .1s opacity .3s; }
        #grp3 { opacity:1; transition: .1s opacity .3s; }
        #grp4 { opacity:1; transition: .1s opacity .3s; }
        #grp5 { opacity:1; transition: .1s opacity .3s; }
        #grp6 { opacity:1; transition: .1s opacity .3s; }
        #grp7 { opacity:1; transition: .1s opacity .3s; }
      }
      
    @keyframes animateCircle {
        40% { transform:scale(10); opacity:1; fill:#DD4688; }
        55% { transform:scale(11); opacity:1; fill:#D46ABF; }
        65% { transform:scale(12); opacity:1; fill:#CC8EF5; }
        75% { transform:scale(13); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.5; }
        85% { transform:scale(17); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.2; }
        95% { transform:scale(18); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.1; }
        100% {transform:scale(19); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:0; }
    }
      
    @keyframes animateHeart {
        0% { transform:scale(.2); }
        40% { transform:scale(1.2); }
        100% { transform:scale(1); }
    }
    
    @keyframes animateHeartOut {
        0% { transform:scale(1.4); }
        100% { transform:scale(1); }
    }
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $base-padding * 2;

    .button:first-child { margin-right: $base-padding / 2; }
    .button:last-child { margin-left: $base-padding / 2; }

    @include media-breakpoint-down(sm) {

        display: block;
        
        .button { display: block; }

        .button:not(:last-child) { margin: 0 0 $base-padding 0; }

        .button:last-child { margin: 0; }
    }
}