/*

  - Rating -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-quinary;
  }

  .rating {
    display: flex;
    margin: 0;
    padding: 0;
    line-height: initial;
    list-style: none;

    li {
      display: inline-block;
      vertical-align: middle;

      &:last-child span { 
        display: inline-block;
        vertical-align: middle;
        margin-left: $base-padding / 2;
        font-size: .875rem 
      }
    }

    &.one li:nth-child(-n+1) svg path { fill: $color-primary; }
    &.two li:nth-child(-n+2) svg path { fill: $color-primary; }
    &.three li:nth-child(-n+3) svg path { fill: $color-primary; }
    &.four li:nth-child(-n+4) svg path { fill: $color-primary; }
    &.five li:nth-child(-n+5) svg path { fill: $color-primary; }
  }

  .time {
    font-size: .875rem;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: $base-padding / 2;
      width: 1rem;
      height: 1rem;
      background-image: url('../../img/icons/clock.svg');
      background-repeat: no-repeat;
    }
}