/*

  - Recipe -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.recipe {
  position: relative;
  display: block;
  text-align: left;
  height: 100%;
  color: $color-quaternary;
  border-radius: 1rem;
  transition: .1s all ease;

  &:hover {
    text-decoration: none;
    color: $color-primary;

    .img-holder img { opacity: .75; }

    &::after { background: $color-quinary; }

    &.caption::before { color: $color-quaternary; }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: percentage(3 / 4);
    height: 2rem;
    background: $color-tertiary;
    border-radius: 1rem;
    border-radius: 0 0 1rem 1rem;
    filter: blur(1rem);
    -ms-filter: blur(1rem);
    transition: .1s all ease;
  }

  .img-holder {
    position: relative;
    display: block;

    img { 
      width: 100%;
      min-height: 15rem;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
      transition: .1s all ease;
    }
  }

  .details {
    position: absolute;
    right: 2.5rem;
    bottom: -2rem;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;

    .weight, .like-btn { display: flex; }

    .weight {
      justify-content: center;
      align-items: center;
      margin-bottom: $base-padding / 2;
      width: 3rem;
      height: 3rem;
      font-size: .875rem;
      font-weight: 700;
      color: white;
      border: 4px solid white;
      border-radius: 50%;

      &.low { background-color: $color-low; }
      &.medium { background-color: $color-medium; }
    }
  }

  .desc {
    display: block;
    padding: $base-padding * 2;
    background-color: white;
    border-right: 1px solid $color-tertiary;
    border-bottom: 1px solid $color-tertiary;
    border-left: 1px solid $color-tertiary;
    border-radius: 0 0 1rem 1rem;

    p { 
      position: relative;
      padding-right: 1rem;
      max-height: calc(1.75rem * 2);
      overflow: hidden;

      &::before {
        position: absolute;
        content: "...";
        bottom: 0;
        right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 1rem;
        height: 1rem;
        background: white;
      }
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  @include media-breakpoint-up(lg) {

    &.caption::before {
      content: "Deze recepten zijn ook erg lekker!";
      position: absolute;
      top: -7rem;
      left: -3rem;
      max-width: 11rem;
      height: 10rem;
      font-family: Caveat,cursive;
      font-size: 1.625rem;
      pointer-events: none;
      background-image: url(../../img/icons/arrow-rotate.svg);
      background-position: center 4rem;
      background-repeat: no-repeat;
    }

    .img-holder { min-height: 15rem; }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: $base-padding;
    font-size: .875rem;
  }
}