/*

  - Review -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.review {
    position: relative;
    display: flex;
    text-align: left;
    margin: 0 auto;
    padding: $base-padding * 2;
    max-width: percentage(8 / 12);
    background-color: white;
    border: 1px solid $color-secondary;
    border-radius: 1rem;

    &:not(:last-child) { margin-bottom: $base-padding * 2; }

    &::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: percentage(3 / 4);
        height: 2rem;
        background: $color-tertiary;
        border-radius: 1rem;
        border-radius: 0 0 1rem 1rem;
        filter: blur(1rem);
        -ms-filter: blur(1rem);
        transition: .1s all ease;
    }
    
    .review-content { 
        display: flex;
        align-items: center;
        width: percentage(10 / 12); 

        .desc {
            margin-left: $base-padding;

            span { display: block; }

            .name  { font-weight: 700; }
        }
    
        img {
			max-width: 100%;
        }
    }

	.numbers {
        justify-content: flex-end;
        align-items: flex-start;
		width: percentage(2 / 12);
    }
    
    @include media-breakpoint-down(md) {

        max-width: 100%;

        &:not(:last-child) { margin-bottom: $base-padding; }
    
        
        .review-content {
            flex-direction: column;
            align-items: flex-start;
        
            .desc { 
                margin-top: $base-padding;
                margin-left: 0; 
            }
        }
    }
}