/*

  - Author -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.author {
    padding-top: $base-padding * 3;
    padding-bottom: $base-padding * 8;

    .author-content {
        display: flex;

        .title {
            display: block;
            font-weight: 700;
        }
    }

    .author-img {
        width: 8rem;
        height: 8rem;

        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid $color-tertiary;
        }
    }

    .author-desc {
        padding: 0 $base-padding * 2;
        width: calc(100% - 8rem);
    }

    .row {
        padding: $base-padding * 6 0;
        border-top: 1px solid $color-tertiary;
        border-bottom: 1px solid $color-tertiary;
    }

    .share { margin-top: $base-padding * 2; }

    .social-icons {
        margin-top: $base-padding / 2;
        margin-left: 0;
        padding: 0;

        li { 
            display: inline-block; 
            
            &:not(:last-child) { margin-right: $base-padding / 2; }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            border: 2px solid $color-primary;
            border-radius: 50%;

            &:hover { 
                background-color: $color-primary;
            
                svg path { fill: white; }
            }
        }
    }

    .recipe-book {
        position: relative;
        display: block;

        &::before {
            content: "Ontdek ook onze weekmenu’s!";
            position: absolute;
            max-width: 9rem;
            height: 10rem;
            font-family: 'Caveat', cursive;
            font-size: $base-font-size-small * 2;
            color: $color-quaternary;
            background-image: url('../../img/icons/arrow-rotate.svg');
            background-position: center 4rem;
            background-repeat: no-repeat;
        }

        &:hover {

            .button-arrow:after, :focus:after, :active:after  { transform: scaleX(1); }
        }

        .button-arrow {
            position: absolute;
            top: 50%;
            right: -.5rem;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;        
            width: 4rem;
            height: 4rem;
            background-color: $color-primary;
            border: 4px solid white;
            border-radius: 50%;
            overflow: hidden;
            transition-duration: .2s;

            svg {
                display: inline-block;
                vertical-align: middle;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                background-color: $color-senary;
                box-shadow: 0px 0px 0px 2px rgba(255,138,142,1);
                transform: scaleX(0);
                transform-origin: 0 50%;
                transition-property: transform;
                transition-duration: .2s;
                transition-timing-function: ease-out;
            }
        }

        img { 
            width: 100%; 
            object-fit: contain;
        }
    }

    @include media-breakpoint-down(md) {

        padding-top: $base-padding * 4;
        padding-bottom: $base-padding * 4;

        .author-content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .author-desc {
            margin-bottom:  $base-padding * 5;
            padding: 0;
            width: 100%;
        }

        .author-img {
            margin-bottom: $base-padding;
        }
    }
}