/*

  - Blog overview -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.blog-overview {
    position: relative;
    margin-bottom: $base-padding * 11;

    .desc {
        padding-top: $base-padding * 4;
        padding-left: $base-padding * 5;

        h2 { font-size: 2.5rem; }

        .button-outline { margin-top: $base-padding * 4; }
    }

    .category-buttons {
        display: flex;
        list-style: none;
        padding-left: 0;
        font-weight: 700;
    
        li:not(:last-child) { margin-right: $base-padding * 2; }
    
        a {
          display: inline-block;
          vertical-align: middle;
          color: $color-quaternary;
    
          &:hover {
            text-decoration: none;
            color: $color-primary;
          }
    
          &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: .5rem;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $color-primary;
            background-image: url('./../../img/icons/angle-right-small.svg');
            background-position: 50% 50%;
            background-size: 20%;
            background-repeat: no-repeat;
            border-radius: 50%;
          }
        }
      }

      .button-outline { display: none; }

    @include media-breakpoint-up(lg) { 
        background: linear-gradient(270deg, rgba(255,255,255,1) 50%, rgba(247,247,247,1) 50%);

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 267px;
            height: 323px;
            top: -4.5rem;
            left: 2rem;
            background-image: url('../../img/floating.png');
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    @include media-breakpoint-down(md) { 

        .row { flex-wrap: wrap-reverse; }

        .desc {
            padding-top: 0;
            padding-left: 0;
    
            h2 { font-size: 1.75rem; }

            .button-outline { display: none; }
        }

        .button-outline { 
            text-align: center;
            display: block; 
            margin-top: $base-padding * 8;
        }

        .category-buttons { 
            flex-direction: column; 
        
            li {
                margin-bottom: $base-padding;

                &:last-child { margin-bottom: $base-padding * 2; }
            }
        }
    }
}