/*

  - CTA 1 -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.cta-1 {
    
  .content {

    h2 { 
      margin-bottom: $base-padding-large;
      font-size: $base-font-size-large * 2; 
    }

    .mb-6 { margin-bottom: $base-padding-large * 2; }
  }

  .image {

    img { 
      width: 100%; 
      max-width: 100%;
    }
  }

  @include media-breakpoint-up(lg) { 

    .content {

      &:after {
        content: "";
        display: block;
        margin: $base-padding * 4;
        width: 100%;
        height: 12rem;
        background-image: url('./../../img/icons/lijntje.svg');
        background-position: center;
        background-repeat: no-repeat;
        transform: rotateX(180deg);
      }
    }

    .image .button-outline { display: none; }
  }
  
  @include media-breakpoint-down(md) { 

    padding: $base-padding * 4 0;
    
    .content {
      h2 {
        font-size: 1.75rem;
      }

      .button-outline { display: none; }
    } 

    .button-outline {
      text-align: center;
      width: 100%;
      white-space: nowrap;
    }

    .image img { 
      margin-bottom: $base-padding * 2;
      margin-left: -6rem; 
    }
  }
}