/*

  - CTA -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.cta {
    padding-bottom: $base-padding * 11;

    h2 { 
        margin-bottom: 1.25rem;
        font-size: 2.5rem; 
    }

    p { margin-bottom: $base-padding * 3; }

    p span {
        font-weight: 700;
        color: $color-primary; 
    }

    .button { margin-top: $base-padding * 2; }



    @include media-breakpoint-down(lg) { display: none; }
}