/*

  - Header -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .1s ease;

    .logo-holder {
        float: left;

        svg {
            width: 354px;
            height: 70px;
        }

        &:hover { opacity: .75; }
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main-nav-item { 
        display: inline-block;
        vertical-align: middle;
        font-weight: 600;
        color: $color-quaternary; 

        &:hover {
            text-decoration: none;
            color: $color-primary;
        }
    }

    @include media-breakpoint-up(xl) { 
        justify-content: space-between;
        padding: $base-padding * 2;
     
        .main-nav {
            display: flex;
            align-items: center;
            float: right; // IE fix
            padding: $base-padding / 2 0; // IE fix

            ul { display: inline-block; } 

            li { 
                display: inline-block;
                vertical-align: middle;
            
                &:last-child { margin-right: $base-padding; }

                a { padding: $base-padding / 2  $base-padding-large; }
            }
        }
    }

    @include media-breakpoint-down(lg) { 
        padding: $base-padding-small $base-padding * 2;

        .logo-holder {
            padding: $base-padding / 2 0;
        
            svg { 
            transform: translatex(-1.6rem);
            width: 13.5rem;
            height: 2rem; 
            }
        }

        .main-nav {
        
            > *:not(.nav-toggle) { display: none; }
        }
    }
}

// Fixed Header
html:not([data-scroll='0']) {
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        padding: .25rem $base-padding * 2;
        width: 100%;
        color: white;
        background-color: $color-primary;
  
        .main-nav-item { color: white; }
        .main-nav-item:hover {  
            background-color: $color-senary;
        }

        .logo-holder svg path { fill: white; }

        .fill-primary { fill: $color-primary !important; }

        .nav-toggle .toggle-btn {
            font-size: $base-font-size-small;
            color: white;

            &::before { 
                color: white; 
                border: 2px solid white; 
            }

            &:hover::before { 
                color: white; 
                border: 2px solid white;  
            }
        }

        .button-primary {
            color: $color-primary;
            background-color: white;

            svg { fill: $color-primary; }
        }

        @include media-breakpoint-down(lg) { 
            padding: $base-padding / 2 $base-padding * 2;
        }
    }
}