/*

  - Home intro -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.home-intro {
  padding-top: $base-padding * 16;
  padding-bottom: $base-padding * 4;
  overflow: hidden;

  .intro-content { margin-top: -6rem; }

  h1 {
    margin-bottom: $base-padding * 2;
    width: calc(100% - 2rem);
    line-height: 150%;
  }

  .mb-6 { margin-bottom: $base-padding * 2; }

  .category-buttons {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: 700;

    li:not(:last-child) { margin-right: $base-padding * 2; }

    a {
      display: inline-block;
      vertical-align: middle;
      color: $color-quaternary;

      &:hover {
        text-decoration: none;
        color: $color-primary;
      }

      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: .5rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $color-primary;
        background-image: url('./../../img/icons/angle-right-small.svg');
        background-position: 50% 50%;
        background-size: 20%;
        background-repeat: no-repeat;
        border-radius: 50%;
      }
    }
  }

  @include media-breakpoint-up(lg) { 

    &:after {
      content: "";
      display: block;
      margin: $base-padding * 2;
      width: 100%;
      height: 12rem;
      background-image: url('./../../img/icons/lijntje.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @include media-breakpoint-down(md) { 
    
    padding-top: $base-padding * 2;

    .intro-gallery { box-shadow: 0 5px 30px rgba(0,0,0,.3) ;}

    h1 { width: 100%; }

    .row { flex-direction: column-reverse; }

    .intro-content { margin-top: 0; }

    .category-buttons { 
      flex-direction: column; 
    
      li:not(:last-child) { margin-bottom: $base-padding; }
    }
  }
}
