/*

  - Program -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.program {
    display: block;
    text-align: center;

    p { 
        margin-bottom: 2.5rem; 
    
        span { font-weight: 700; }
    }

    @include media-breakpoint-up(lg) {
        padding: $base-padding * 5 0;

        .content {
            margin: 0 auto;
            max-width: percentage(6 / 12);
        }
    }

    @include media-breakpoint-down(md) {
        padding: $base-padding * 4 0;

    }
}