/*

  - Recipes -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.recipes {

    @include media-breakpoint-up(lg) {

        .row:not(:last-child) { margin-bottom: $base-padding-large * 2; }

        &.mb-11 { margin-bottom: 11rem; }
    }

    @include media-breakpoint-down(md) {

        .row:not(:last-child) { margin-bottom: $base-padding-large * 2; }
    }
}