/*

  - Recipe Instructions -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.recipe-instructions {

    .title {
        display: block;
        margin-bottom: $base-padding;
        font-size: $base-font-size-small * 2;
        font-weight: 300;
    }

    ul { 
        margin-bottom: $base-padding * 3;
        padding-inline-start: $base-padding; 
    }

    li { font-size: 1rem; }

    ol { 
        position: relative;
        padding-left: $base-padding / 2;
        counter-reset: item;
        list-style-type: none;

        &::after {
            content: "";
            position: absolute;
            bottom: 1rem;
            left: 2rem;
            z-index: -1;
            width: 2px;
            height: 100%;
            background-color: $color-secondary;
        }

        li {
            display: flex; 
            align-items: center;
            margin-bottom: $base-padding * 3;

            &::before { 
                content: counter(item) "  "; 
                counter-increment: item;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: $base-padding * 2;
                width: 3.117rem;
                height: 3rem;
                font-weight: 700;
                color: white;
                background-color: $color-primary;
                border: 4px solid white;
                border-radius: 50%;
            }
        }

        span { width: calc(100% - 3rem); } 
    }

    h3 {
        margin-bottom: $base-padding * 2;
        font-size: $base-font-size-large * 2;
        font-weight: 300;

        &::before {
            content: "";
            display: inline-flex;
            margin-right: $base-padding-large;
            padding: $base-padding;
            width: 4rem;
            height: 4rem;
            background-repeat: no-repeat;
        }

        &.tasks::before { background-image: url('../../img/icons/tasks.svg'); }
        &.weight::before { background-image: url('../../img/icons/weight-big.svg'); }
        &.tips::before { background-image: url('../../img/icons/light-bulb.svg'); }
    }

    .statistics {
        display: flex;
        padding-left: 0;
        list-style: none;

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: $base-padding;
            width: 8rem;
            height: 8rem;
            font-size: $base-font-size-small;
            text-transform: uppercase;
            border: 1px solid $color-tertiary;
            border-radius: 50%;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                opacity: 25%;
            }

            &.percentage-10::after { background: linear-gradient(0deg, rgba(250,88,93,0.7511379551820728) 10%, rgba(255,255,255,1) 10%); }
            &.percentage-3::after { background: linear-gradient(0deg, rgba(250,88,93,0.7511379551820728) 3%, rgba(255,255,255,1) 3%); }
            &.percentage-2::after { background: linear-gradient(0deg, rgba(250,88,93,0.7511379551820728) 2%, rgba(255,255,255,1) 2%); }
            &.percentage-12::after { background: linear-gradient(0deg, rgba(250,88,93,0.7511379551820728) 12%, rgba(255,255,255,1) 12%); }

            span {
                display: block;
                line-height: initial;

                &:first-child { 
                    padding-bottom: .1rem;
                    font-weight: 700; 
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {

        padding-bottom: $base-padding * 4;

        aside { 
            padding: $base-padding * 2;
            background-color: $color-secondary;
        }


        .instructions { padding-left: $base-padding * 6; }
    }

    @include media-breakpoint-down(lg) {

        ul { 
            margin-bottom: $base-padding * 2; 
        
            li { font-size: .875rem; }
        }

        .title { margin-bottom: $base-padding / 2; }


        h3 {
            font-size: $base-font-size-small * 2;

            &::before {
                width: 3rem;
                height: 3rem;
                background-size: 100%;
            }
        }

        ol {
            padding-left: .3rem;

            &::after { left: 1.5rem; }

            li::before {
                width: 2.71rem;
                height: 2.5rem;
            }
        
            span { font-size: .875rem; }
        }
    }

    @include media-breakpoint-down(md) {

        .instructions { margin-top: $base-padding * 8; }

        .statistics { 
            justify-content: space-between; 
            margin-bottom: $base-padding * 4;
        
            li {
                width: 3rem;
                height: 3rem;
    
                span:first-child {
                    position: absolute;
                    bottom: -1.5rem;
                    font-size: .5rem;
                    max-width: 3rem;
                    white-space: pre-wrap;
                    line-height: initial;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

