/*

  - Search Recipe -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.search-recipe {
    position: relative;
    display: block;

    form {
        display: flex;
        align-items: center;
    }

    .search {
        padding: $base-font-size-small $base-font-size-large;
        width: percentage(8 / 12);
        color: $color-quinary;
        border: 1px solid $color-tertiary;
        border-radius: 2rem;
        white-space: pre-wrap;
        text-overflow: ellipsis;

        &:focus { outline: none; }
    }

    .button-primary svg {
        width: 1rem;
        height: 1rem;
    }

    .recipe-categories {
        position: relative;
        bottom: -50%;
        transform: translateY(50%);
        display: flex;
        margin-top: -3rem;
        padding: 0;
        list-style: none;

        li { 
            display: inline-block; 
        }

        label {
            position: relative;
            text-align: center;
            margin-bottom: 0;
            cursor: pointer;

            input { visibility: hidden; }

            span {
                font-size: .875rem;
                font-weight: 700;
                transition: .15s all ease;
            }

            &:hover, &:checked {
                .img-holder { border: 2px solid $color-primary; }
                
                span { color: $color-primary; } 
            }
        }

        .img-holder {
            margin-bottom: $base-padding / 2;
            width: 7rem;
            height: 7rem;
            border: 6px solid white;
            border-radius: 50%;
            transition: .15s all ease;

            img {
                max-width: 100%;
                border-radius: 50%;
            }
        }
    }

    .recipe-subdesc { display: none; }

    @include media-breakpoint-up(xl) {
        margin-top: $base-padding * 2;
        padding-top: $base-padding-large * 2;

        .button-primary { margin-left: $base-padding; } 

        .recipe-categories li:not(:last-child) { margin-right: $base-padding-small * 2; }
    }

    @include media-breakpoint-down(lg) {
        background-color: $color-secondary;

        form { justify-content: space-between; }

        .button-primary {
            padding: .5rem 0.875rem;
            border-radius: 50%;
            
            span { display: none; }
        }

        form { 
            padding: 1.75rem 1.75rem 1.75rem 0; 
        
            .search { width: percentage(11 / 12); }

            .button { margin-left: $base-padding / 2; }
        }

        .recipe-categories {
            margin-top: -6rem;
            overflow-x: scroll;

            li:not(:last-child) { margin-right: $base-padding / 2; }

            .img-holder {
                width: 6rem;
                height: 6rem;
                border: 4px solid white;
            }
        }
    }

    @include media-breakpoint-only(xl) {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: calc(100% - 12rem);
            height: 100%;
            background-color: $color-secondary;
        }

        .recipe-subdesc {
            position: absolute;
            bottom: -8rem;
            transform: translateX(-10rem);
            display: inline-block;
            max-width: 8rem;
            font-family: 'Caveat', cursive;
            font-size: 1.375rem;
            opacity: .75;

            &::after {
                content: "";
                position: absolute;
                top: -1.5rem;
                left: 6rem;
                display: inline-block;
                width: 2rem;
                height: 2rem;
                background-image: url('../../img/icons/arrow.svg');
                background-position: top right;
                background-repeat: no-repeat;
            }
        }
    }
}


.section-search-recipe {
    position: relative;
    padding-bottom: $base-padding * 9;

    @include media-breakpoint-down(lg) {

        padding-top: $base-padding * 2;
        padding-bottom: $base-padding-large * 5;

        .container {
            padding-right: 0;
            max-width: 100%;
        }

        .col-10 { padding-right: 0; }

        .col-2 { 
            padding-left: $base-padding / 2;
        }

        h1 { margin-bottom: $base-padding * 2; }

        .leading-p { display: none; }
    }

    @include media-breakpoint-only(xl) {

        &::before {
            content: "";
            position: absolute;
            bottom: 35%;
            left: 5%;
            width: 138px;
            height: 277px;
            background-image: url('../../img/strawberry.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}
  