/*

  - Blog posts -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.blog-posts {
  position: relative;
  margin-bottom: -4rem;
  padding-top: 4rem;
  padding-left: 0;
  list-style: none;
  
  li {
    display: block;

    &:not(:last-child) { margin-bottom: $base-padding * 2; }
  }

  a {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 12rem;
    color: $color-quaternary;

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      width: percentage(3 / 4);
      height: 2rem;
      background: $color-tertiary;
      border-radius: 1rem;
      border-radius: 0 0 1rem 1rem;
      filter: blur(1rem);
      -ms-filter: blur(1rem);
      transition: .1s all ease;
    }

    &:hover {
      text-decoration: none;
      color: $color-primary;

      .blog-img { opacity: .75; }

      &::after { background: $color-quinary; }
    }

    .blog-img {
      display: inline-block;
      width: percentage(3 / 12);
      min-height: 12rem;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 1rem 0 0 1rem;
    }

    .blog-content {
      display: inline-block;
      padding: $base-padding * 2;
      width: percentage(9 / 12);
      height: 100%;
      background-color: white;
      border-top: 1px solid $color-secondary;
      border-right: 1px solid $color-secondary;
      border-bottom: 1px solid $color-secondary;
      border-radius: 0 1rem 1rem 0;

      h5 {
        margin-bottom: $base-padding / 2;
        font-size: 1rem;
        font-weight: 700;
      }

      p { 
        position: relative;
        padding-right: 1rem;
        max-height: calc(1.75rem * 2);
        overflow: hidden;
  
        &::before {
          position: absolute;
          content: "...";
          bottom: 0;
          right: 0;
        }
  
        &::after {
          content: "";
          position: absolute;
          right: 0;
          width: 1rem;
          height: 1rem;
          background: white;
        }
      }
    }

    .blog-details {
      display: flex;
      font-size: .875rem;
      color: $color-quinary;

      span:not(:last-child) { 
        display: inline-block;
        vertical-align: middle;
        margin-right: $base-padding * 2; 
      }

      .comments::before { 
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: $base-padding / 2;
        width: 1rem;
        height: 1rem;
        background-image: url('../../img/icons/comment.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    padding-right: $base-padding * 2;

    a .blog-content h5 {
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
    }
  }

  @include media-breakpoint-down(md) { 
  
    &::after {
      content: "";
      position: absolute;
      top: 2rem;
      left: -2rem;
      width: 100vw;
      height: calc(100% - 4rem);
      background-color: $color-secondary;
      overflow: hidden;
    }

    a { height: 10rem; 
    
      .blog-img { min-height: 10rem; }

      .blog-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        p { display: none; }
      }
    }
  }
}