/*

  - Icon Description -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.d-flex { margin-bottom: $base-padding * 2; }

.icon-desc {
    display: flex;
    align-items: center;
    width: percentage(1 / 2);

    .details { padding-left: $base-padding; }

    span {
        display: block;
        color: $color-quinary;

        &:first-child { 
            font-size: $base-font-size-large;
            font-weight: 700; 
        }
    }
}

.recipe-desc .icon-desc span:first-child { font-size: 1rem; }