/*

  - Image -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/


.img {
  position: relative;
  text-align: center;

  &.with-logo::after {
    content: "";
    position: absolute;
    right: -2rem;
    bottom: -4rem;
    width: 8rem;
    height: 8rem;
    background-image: url('../../img/icons/logo.svg');
    background-repeat: no-repeat;
  }

  img {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    max-width: 100%;
  }

  .details {
    position: absolute;
    right: 2.5rem;
    bottom: -2rem;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .weight, .like-btn { display: flex; }

    .weight {
      justify-content: center;
      align-items: center;
      margin-bottom: $base-padding / 2;
      width: 3rem;
      height: 3rem;
      font-size: .875rem;
      font-weight: 700;
      color: white;
      border: 4px solid white;
      border-radius: 50%;

      &.low { background-color: $color-low; }
      &.medium { background-color: $color-medium; }
    }
  }

  @include media-breakpoint-down(lg) { 

    text-align: left;
    
    img { 
      width: 100%;
      box-shadow: none; 
    }
  }
}
