/*

  - Intro gallery -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.intro-gallery {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 430px;
    height: 20rem;
    max-width: 100%;
    margin-bottom: 0;
    margin-left: -4rem;
    padding-left: 0;
    background-position: center;
    background-size: 430px 20rem;
    background-repeat: no-repeat;
    list-style: none;
    border-radius: 1rem;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);

    li {
        display: inline-block;
        position: absolute;
        z-index: -1;

        &:nth-child(1) {
            top: -50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 7.125rem;
            height: 7.125rem;
        }
    
        &:nth-child(2) {
            top: -50%;
            right: -50%;
            transform: translateX(-50%);
            width: 12.5rem;
            height: 12.5rem;
        }
    
        &:nth-child(3) {
            bottom: -50%;
            left: 0;
            transform: translateX(-50%);
            width: 12.5rem;
            height: 12.5rem;
        }
    
        &:nth-child(4) {
            bottom: -50%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 7.125rem;
            height: 7.125rem;
        }
    
        img {
            max-width: 100%;
            object-fit: cover;
            border-radius: 1rem;
            box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
        }
    }

    @include media-breakpoint-down(md) { 

        top: 2rem;
        left: 50%;
        margin-left: 0;
        transform: scale(0.8) translateX(-50%);

        li {
            &:nth-child(3) {display: none; }
            &:nth-child(4) { display: none; }
        }
    }

    @include media-breakpoint-down(sm) { 

        left: 0;
        transform: translateX(0);
        margin-left: 0;
        width: calc(100% - 2rem);
        height: 16rem;
        background-size: cover;

        li {

            &:nth-child(1), &:nth-child(3), &:nth-child(4) { display: none; } 

            &:nth-child(2) {
                top: -6rem;
                right: -2rem;
                transform: translateX(0);
                width: 8rem;
                height: 8rem;
            }
        }
    }
}