/*

  - Navigation Toggle -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

header {

  // Toggle Button
  .nav-toggle {
    position: relative;
    z-index: 999;
    float: left; // IE fix
    padding: $base-padding / 2 0 ;
    letter-spacing: 0;

    .toggle-btn {
      font-size: $base-font-size-small;
      color: $color-quaternary;
      transition: .2s all ease;

      &:hover { text-decoration: none; }
    
      &::before {
        content: "\2022 \2022 \2022";
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border: 2px solid $color-quaternary;
        border-radius: 50%;
      }
    
      &:hover::before { 
        color: $color-primary; 
        border: 2px solid $color-primary; 
      }
    
      &[aria-expanded="true"] { 
        display: inline-block;
        transform: rotate(90deg); 
      }

      &:focus { text-decoration: none; }

      @include media-breakpoint-up(xl) { 
        margin-right: $base-padding * 2;
      }
    }

    @include media-breakpoint-down(lg) { 
      float: right;


      .toggle-btn {

        &::before {
          color: white;
          background-color: $color-quaternary;
        }
      }
    }
  }

  // Toggle Collapse
  .submenu {
    position: absolute;
    top: 3rem;
    left: 0;
    display: block;
    background-color: white;
    border: 1px solid $color-tertiary;
    border-radius: 1rem;
    transition: .1s all ease;

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      width: percentage(3 / 4);
      height: 2rem;
      background: $color-tertiary;
      border-radius: 1rem;
      border-radius: 0 0 1rem 1rem;
      filter: blur(1rem);
      -ms-filter: blur(1rem);
    }

    .secondary-nav {
      display: block;

      .secondary-search {
        display: block;
        width: 100%;
        padding: $base-padding-small $base-padding;
        font-weight: 600;
        background-position: 95% 50%;
        background-image: url('../../img/icons/search-primary.svg');
        background-repeat: no-repeat;
        border: 1px solid $color-tertiary;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 1rem 1rem 0 0;

        &::placeholder { color: $color-primary; }
        &:focus { outline: none; }
      }

      ul, li a { display: block; }

      li {
        display: block;
        margin-right: 0; 

        &:not(:last-child) { border-bottom: 1px solid $color-tertiary; }

        &:last-child { margin-right: 0; }

        a { 
          padding: $base-padding-small $base-padding; 
          font-weight: 600;
          color: $color-quaternary;

          &:hover {
            text-decoration: none;
            color: $color-primary;
          }
        }
      }
    }

    @include media-breakpoint-up(xl) { 
      width: 14rem;

      ul .main-nav-item { display: none;  }

      &::before {
        content: "";
        position: absolute;
        left: .5rem;
        top: -.5rem;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-bottom: .5rem solid $color-tertiary;
      }
    }

    @include media-breakpoint-down(lg) { 
      width: calc(100vw - 4rem);
      right: 0;
      left: inherit;

      &::before {
        content: "";
        position: absolute;
        right: .5rem;
        top: -.5rem;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-bottom: .5rem solid $color-tertiary;
      }
    }
  }
}

