/*

  - Blockquote -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

blockquote {
    margin-bottom: $base-padding * 5;
    padding: $base-padding * 3 0;
    font-size: $base-font-size-small * 2;

    span { 
        display: block;
        padding: 0 $base-padding * 10; 
    }

    @include media-breakpoint-down(md) { 
        margin-bottom: 0;
        padding: $base-padding * 4 0;
        font-size: 1rem;

        span { padding: 0; }
    }
}