/*

  - Breadcrumb -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.breadcrumbs {
    display: flex;
    align-items: center; 
    padding-top: $base-padding * 2;
    padding-bottom: $base-padding-large * 2;
    font-size: .875rem;
    letter-spacing: 0.04rem;
    color: $color-quinary;

    ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        li { 
            display: inline-block; 
            vertical-align: middle;
        }

        a {
            display: inline-block;
            vertical-align: middle;
            color: $color-quinary;

            &:hover {
                text-decoration: none;
                color: $color-primary;
            }
        }

        .arrow-right {
            margin: 0 $base-padding / 2;
            width: 5px;
            height: .5rem;
            
            path { fill: $color-quinary; } 
        }
    }

    @include media-breakpoint-down(lg) { display: none; }
}