/*

  - CTA 2 -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.cta-2 {
    position: relative;
    overflow: hidden;
    
    h2 {
        margin: 0 auto $base-padding * 5 auto;
        font-size: $base-font-size-large * 2;
    }

    h2, .paragraph { width: calc(100% - 25rem); }

    .row { margin-bottom: $base-padding * 6; }

    .paragraph { margin: 0 auto $base-padding-small * 3 auto; }

    @include media-breakpoint-up(lg) { 

        &::after {
            content: "";
            display: block;
            margin: 3rem auto 0 15rem;
            width: 100%;
            height: 12rem;
            background-image: url(../../img/icons/lijntje.svg);
            background-position: center;
            background-repeat: no-repeat;
            transform: rotateX(180deg);
        }

    }

    @include media-breakpoint-down(sm) { 

        margin-bottom: $base-padding * 8;

        h2 {
            text-align: left;
            margin: 0 auto 2rem auto;
            font-size: 1.75rem;
        }

        h2, .paragraph { width: 100%; }

        .row {
            position: relative;
            left: -2rem;
            margin-bottom: $base-padding * 3;
            width: calc(100vw + 2rem);
            flex-wrap: nowrap;
            overflow: hidden;

            .col-lg-4 {
                padding: 0;
                width: 90%; 

                .recipe::after { display: none; }

                &:nth-child(2) .recipe { z-index: 1; }
            }

            .col-lg-4:first-child, .col-lg-4:last-child { 
                width: 10%; 
                opacity: 75%;

                .recipe {
                    top: 1.5rem;

                    img { border-radius: 0; }

                    .desc { 
                        margin-right: -1rem;
                        padding: 1rem; 
                        border-radius: 0;
                    
                        h3, p { overflow: hidden; }
                    }

                    .numbers, .details { display: none; }
                }
            }

            .col-lg-4:first-child { left: .625rem; }
            .col-lg-4:last-child { right: .625rem; }
        }

        .paragraph { margin: 0 auto $base-padding * 2 auto; }

        .button-outline {
            width: 100%;
            white-space: nowrap;
        }
    }
} 