/*

  - Footer -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

footer {
    padding-top: $base-padding * 3;
    padding-bottom: $base-padding * 2;
    font-size: .875rem;

    .row:first-child {
        border-top: 1px solid $color-tertiary;
    }

    ul {
        list-style-type: none;
        margin-left: 0;
        padding: 0;

        a {
            display: block;
            color: $color-quaternary;

            &:hover {
                text-decoration: none;
                color: $color-primary;
            }
        }
    }

    .social-icons {
        margin-top: $base-padding;
        margin-left: 0;
        padding: 0;

        li { 
            display: inline-block; 
            
            &:not(:last-child) { margin-right: $base-padding / 2; }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            background-color: $color-secondary;
            border-radius: 50%;

            &:hover { background-color: $color-tertiary }
        }
    }

    .sub { 
        padding-top: $base-padding * 2; 
        width: 100%;
        font-size: $base-font-size-small;
        color: $color-quinary;
        border-top: 1px solid $color-tertiary;

        a { color: $color-quinary; }
    }

    @include media-breakpoint-up(lg) { 

        .sub {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;

                li:not(:last-child) { margin-right: $base-padding; }
            }
        }
    }

    @include media-breakpoint-down(md) { 
        padding: $base-padding * 2 0;

        ul { margin-bottom: $base-padding * 2; }
    }
}