/*

  - Recipe Filters -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.recipe-filters {

  .filters { 
    display: flex; 
    padding: 0;
  }

  .filter {
    display: inline-block;

    &:not(:last-child) { margin-right: $base-padding; }

  }
  
  select {
    display: block;
    padding: $base-padding-small $base-padding-large;
    width: 11rem;
    color: $color-quinary;
    background-color: transparent;
    border: 1px solid $color-tertiary;
    border-radius: 2rem;
    background-image: url('../../img/icons/angle-down.svg');
    background-position: 90% 50%;
    background-size: 0.7rem;
    background-repeat: no-repeat;
    appearance: none;
    cursor: pointer;

    &:focus { outline: none; }

    &:hover { 
      color: $color-primary;
      border: 1px solid $color-primary; 
      background-image: url('../../img/icons/angle-down-primary.svg');

      option { color: $color-quinary; }
    }
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: $base-padding * 6;

    .button-filter { display: none; }
    .collapse { display: block; }
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: $base-padding-large * 2;

    .container { 
      display: flex; 
      align-items: center;
      overflow-x: scroll;
    }

    .show { width: percentage(1 / 2); }

    .button-filter { margin-right: $base-padding / 2; }

    .filters {
      padding-top: $base-padding;
      padding-left: 0;
    }

    .filter:not(:last-child) { margin-right: $base-padding / 2; }
  }
}