/*

  - Recipe load -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.recipe-load {
    padding-top: $base-padding * 4;
    padding-bottom: $base-padding * 11;
    text-align: center;

    @include media-breakpoint-down(md) {
        padding-bottom: $base-padding * 8;

        .button { width: 100%; }
    }
}