/*

  - Recipe Description -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.recipe-desc {

  padding-bottom: $base-padding * 5;

  .d-flex, p, .numbers:not(:last-child) { margin-bottom: $base-padding * 2; }

  @include media-breakpoint-down(md) { 

    padding-top: $base-padding * 2;
    padding-bottom: 0;

    .d-flex { 
      margin-bottom: $base-padding-small * 2; 
    
      &:last-child { margin-bottom: $base-padding * 4; }
    }
    
    .numbers { display: none; }
  }
}