/*

  - Reviews -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: $base-padding * 11;

    .numbers:first-child { 
        justify-content: center; 
        margin-bottom: $base-padding-small * 2;
    }

    h2 { 
        margin: 0 auto $base-padding * 3 auto; 
        max-width: percentage(5 / 12); 
    }

    p { 
        margin: 0 auto;
        max-width: percentage(6 / 12); 
    }    

    @include media-breakpoint-down(md) {

        .numbers:first-child { 
            justify-content: flex-start; 
            margin-bottom: $base-padding;
        }

        text-align: left;

        h2, p { max-width: 100%; }
        
        h2 { margin-bottom: $base-padding-small * 2; }

        p{ margin-top: $base-padding * 4; }
    }
}