/*

  - Typography -

  Please use the following declaration order:
  1. Positioning
  2. Box model
  3. Typographic
  4. Visual

*/

p { margin-bottom: $base-padding * 2; }

h1 {
  display: block;
  margin-bottom: $base-padding;
  font-size: $base-font-size-large * 2;
  font-weight: 300;
  letter-spacing: .15rem;

  @include media-breakpoint-down(lg) { 
    font-size: 1.75rem; 
  }
}

h2 {
  display: block;
  margin-bottom: $base-padding;
  font-size: $base-padding + $base-padding-small;
  font-weight: 300;
  letter-spacing: .15rem;

  span {
    font-weight: 700;
    color: $color-primary; }
}

.leading-p {

  @include media-breakpoint-up(lg) { 
    width: percentage(7 / 12);
  }
}

h4 {
  margin-bottom: $base-padding / 2;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

